---
import ProdCard from "../../components/ProdCard.astro";
import Layout from "../../layouts/Layout.astro";
import Data from "../../../public/data/productos.json";
import BannerProductos from "../../components/BannerProductos.astro";
import ProdCard2 from "../../components/ProdCard2.astro";
const title = "Mesadas";

const productos = Data;
const dataFiltrada = productos.filter((dato) => {
  return dato.cat === title;
});
---

<Layout title={title}>
  <main class="min-h-screen">
    <BannerProductos title={title} />
    <div
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 w-auto min-h-auto gap-2 lg:gap-5 m-2 lg:m-5"
    >
      {
        dataFiltrada.map((dato) => {
          return (
            <ProdCard2
              title={dato.title}
              desc={dato.desc}
              img={dato.img}
              img1={dato.img1}
              img2={dato.img2}
              desc2={dato.desc2}
              
            />
          );
        })
      }
    </div>
  </main>
</Layout>
