---
import ProdCard from "../../components/ProdCard.astro";
import Layout from "../../layouts/Layout.astro";
import Data from "../../../public/data/productos.json";
import BannerProductos from "../../components/BannerProductos.astro";
const title = "PisosPremium";

const productos = Data;
const dataFiltrada = productos.filter((dato) => {
  return dato.cat === title;
});
---

<Layout title={title}>
  <main class="min-h-screen">
    <BannerProductos title={"Pisos Premium"} />
    <div
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 w-auto min-h-auto gap-2 lg:gap-5 m-2 lg:m-5"
    >
      {
        dataFiltrada.map((dato) => {
          return (
            <ProdCard
              title={dato.title}
              desc={dato.desc}
              img={dato.img}
              desc2={dato.desc2}
              punteo1={dato.punteo1 as String}
              punteo2={dato.punteo2}
              punteo3={dato.punteo3}
              punteo4={dato.punteo4}
              punteo5={dato.punteo5}
              punteo6={dato.punteo6}
            />
          );
        })
      }
    </div>
  </main>
</Layout>
