---

interface Props {
    title : String;
    desc : String;
    img : String
    link: String
}

const {title, desc, img, link} = Astro.props
---

<div class="relative md:static rounded-lg m-5 sm:m-10 md:m-10 md:grid md:grid-cols-3 md:gap-4 md:place-items-center md:border-none">
    <div class="flex justify-center items-center md:col-span-3 md:gap-4">
        <div class="relative w-full md:static md:h-56 md:w-96">
            <a href=`${link}`> 
                <img class="object-none rounded-lg h-60 w-full border-2 sm:border-4 border-slate-300 md:h-56 md:hover:border-slate-700" src=`${img}` alt=`${title}`>
            </a>
        </div>

        <div class="shadow-sm shadow-white z-10 w-[90%] flex flex-col justify-center absolute p-2 bg-slate-900 bg-opacity-90 rounded-xl bg-white md:static md:col-span-2 md:border-2 md:rounded-lg md:border-red-700 md:p-5 md:z-0 md:bg-transparent md:bg-opacity-100 md:backdrop-blur-none md:w-full">
            <h3 class="font-bold text-xl text-red-700 sm:text-sm md:text-xl">{title}</h3>
            <p class="font-semibold sm:font-normal text-gray-600 md:text-black text-justify text-sm md:text-lg">{desc}</p>
        </div>
    </div>
</div>
