---
import Data from "../../public/data/prodHome.json"
import CardProducts1 from "./CardProducts1.astro";
import CardProducts2 from "./CardProducts2.astro";

const data = Data
---
<div>
<div class="containerProductsHome">
  
<h3 class="font-semibold text-2xl text-center"> PRODUCTOS</h3>

{data.map((product, index) => {
    const esPar = index % 2 === 0;
    if (esPar) {
        return <CardProducts1 title={product.title} desc={product.desc} img={product.img} />;
    }
        return <CardProducts2 title={product.title} desc={product.desc} img={product.img} />;
    })}

</div>
</div>

<style>
    .containerProductsHome{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        
    }


    
</style>